.chipContainer{
    background-color: rgb(230, 237, 253);
    padding: 6px 15px 8px 15px;
    border-radius: 12px;
    font-weight: bold;
    border: 2px solid #191D3D;
    position: relative;
    cursor: pointer;
}

.selected{
    background-color: #191D3D;
    color: white;
}

.close{
    position: absolute;
    top: -7px;
    right: -0.7px;
    color: white;
    transform: scale(0.5);
}