.chip{
    background-color: #7b9a1c;
    border-radius: 16px;
    text-align: center;
    margin: 0.2rem;
    margin-right: 1rem;
    border: 0.5rem solid #7b9a1c;
    cursor: pointer;
}

.chip:hover{
    background-color: #ef26263a;
    /* transform: scale(1.08); */
}