.chip{
    background-color: #5CE1E6;
    border-radius: 16px;
    text-align: center;
    margin: 0.2rem;
    margin-right: 1rem;
    padding: 6px;
    cursor: pointer;
    color: black;
}

.chip:hover{
    background-color: #DFF6FF;
}