.page{
    background-color: aliceblue;
    padding: 2rem;
}

.page h1{
    text-align: center;
}

.page p{
    white-space: pre-wrap;
    margin-bottom: 0.5rem;
    font-family:serif;
    font-size: 1.2rem;
}

.page p span{
    font-weight: 500;
}

.stackimg{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.operation{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   /* justify-content: space-between; /* not working */
}

.operation > div{
    margin-left: 0;
    margin-top: 0;
}

.space{
    margin: 0 3rem 1rem;
}

.line{
    margin: 1rem auto 2rem;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: rgb(209, 208, 208);
    width: 5%;
}