.inout{
    margin: 2% 5%;
    background-color: #d4f1fa;
    border-radius: 12px;
    padding: 3px 10px;
}

.inout textarea{
    resize: none;
    margin-top: 5px;
    width: 99%;
    background-color: aliceblue;
    margin-bottom: 7px;
    border: none;
    outline: none;
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px auto;
}

.input h4,button{
    margin: 0;
}

.input button{
    background-color: #191D3D;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 9px;
}

.border{
   border-bottom: 1px solid white;
   border: 2px 0 0 0;   
   margin: 2px -10px;
}