.page{
    background-color: aliceblue;
    padding: 3rem;
    margin: auto;
}

.page h1{
    text-align: center;
}

.graph{
    display: flex;
    justify-content: center;
    background-color: #1C2130;
    width: 50%;
    margin: 18px auto;
    border-radius: 12px;
}

.graph > a{
    text-decoration: none;
    color: cyan;
}

.graph h2{
    margin: 0;
    padding: 7px;
}

.page p{
    white-space: pre-wrap;
    margin:auto;
    font-family:serif;
    font-size: 1.2rem;
}

.page textarea{
    left: 0;
}

.treeimg{
    display: block;
    margin: 0 auto;
    width: 40%;
}

.multiline {
    white-space: pre-wrap;
    background-color: rgb(230, 237, 253);
    border: none;
    padding: 1.5%;
    color: black;
    border-radius: 10px;
    display: block;
    width: 95%;
    margin-top: 2%;
    cursor: text;
    overflow: hidden;
    resize: none;
  }