.container{
    display: flex;
    font-weight: 600;
    background-color: #191D3D;
    color: white;
    padding: 5px 0;
    margin-top: 5.8%;
}

.qContainer{
    position: absolute;
    height: 82vh;
    overflow-y: auto;
    top: 18%;
}