.page{
    background-color: aliceblue;
    padding: 3rem;
    margin: -1.5rem auto;
}

.page h1{
    text-align: center;
}

.page p{
    white-space: pre-wrap;
    margin: auto;
    font-family:serif;
    font-size: 1.2rem;
}

.page textarea{
    left: 0;
}

.datatimg{
    display: block;
    width: 50%;
    margin: 2rem auto;
}

.multiline {
    white-space: pre-wrap;
    background-color: rgb(230, 237, 253);
    border: none;
    padding: 1.5%;
    color: black;
    border-radius: 10px;
    display: block;
    width: 95%;
    margin-top: 2%;
    cursor: text;
    overflow: hidden;
    resize: none;
  }

  .tableimg{
    margin: 0 0 auto;
    display: block;
    width: 40%;
  }