.page{
    background-color: aliceblue;
    padding: 2rem;
}

.page h1{
    text-align: center;
}

.page p{
    white-space: pre-wrap;
    margin-bottom: 0.5rem;
    font-family:serif;
    font-size: 1.2rem;
}

.page span{
    font-weight: 600;
}

.arrayimg{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.multidimensionalArray{
    margin-left: 3%;
}

.tableimg{
    margin: 0 auto;
    display: block;
    width: 30%;
    margin-left: 0%;
  }