.qbox {
    border: 3px solid rgba(159, 196, 255, 0.3);;
    padding: 1.5%;
    background-color: #d4f1fa;
    /* margin: 2% 5%; */
    margin: 2% 2%;
    font-family: "Montserrat-Bold";
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    white-space: pre-line;
}

.qboxHover:hover{
    background-color: #a1ffff3a;
    opacity: 1.0;
    cursor: pointer;
    /* transform: scale(1.05); */
    transform: scale(1.02);
    font-weight: 550;
}