.container{
    cursor: pointer;
    padding: 5px;
    border-radius: 12px;
}

.container:hover{
    background-color: #5CE1E6;
    color: black;
}

.selected{
    cursor: pointer;
    padding: 5px;
    color: black;
    background-color: aliceblue;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: -2px;
}