.codeSnippet{ 
    padding: 1.5%;
    background-color: black;
    color: white;
    margin: 2% 5%;
    border-radius: 10px;
    display: block;
    width: 87%;
    cursor: text;
    overflow: hidden;
    resize: none;
}