.prereq{ 
    padding: 0.5%;
    background-color: #c2db82;
    margin: 2% 5%;
    font-family: "Montserrat-Bold";
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
}

h4{
    margin: auto 0 auto 1rem ;
}