.dslab {
    height: 12%;
    width: 100%;
    background-color: #191d3d;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
}

.logo1{
    max-height: 5em;
    margin-left: 0.5em;
    padding-top: 1%;
}

.dslab > h1{
    color: white;
    padding-right: 8%;
}

.logo2{
    max-height: 5em;
    margin-right: 0;
}