.page{
    display: flex;
}

.container{
    font-weight: 600;
    background-color: #191d3d;
    color: white;
    text-align: center;
    height: 90vh;
    position: fixed;
    top: 12%;
    width: 17%;
}

.container > strong{
    background-color: white;
    font-size: large;
    border-radius: 12px;
    color: black;
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 5px;
}

.filterContainer{
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.qContainer{
    width: 80%;
    position: absolute;
    height: 88vh;
    overflow-y: auto;
    top: 12%;
    right: 0;
}

.dsPage{
    display: flex;
    justify-content: center;
}

.dsPage h2{
    margin: 15px auto 0 auto;
    background-color: #CDD6FF;
    border: 2px solid #191d3d;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
}