.page{
    display: flex;
}

.container{
    font-weight: 600;
    background-color: #191d3d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
    position: fixed;
    top: 12%;
    width: 17%;
}

.container > strong{
    background-color: white;
    font-size: large;
    border-radius: 12px;
    color: black;
    width: 90%;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 3%;
}

.qContainer{
    width: 80%;
    position: absolute;
    height: 88vh;
    overflow-y: auto;
    top: 12%;
    right: 0;
}