.page{
    background-color: aliceblue;
    padding: 3rem;
    margin: -1.5rem auto;
}

.page h1{
    text-align: center;
}

.page p{
    white-space: pre-wrap;
    margin: auto;
    font-family:serif;
    font-size: 1.2rem;
}

.heapimg{
    display: block;
    width: 40%;
    margin: 0 auto;
}

.page span{
    font-weight: 600;
}